Package: libacars2-dbgsym
Source: libacars
Version: 2.2.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Phil Karn <karn@ka9q.net>
Installed-Size: 585
Depends: libacars2 (= 2.2.1-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libacars2
Build-Ids: f544e6e54f19cebe5f751dd37b1a6496396f70e8
