Package: libacars2-dbgsym
Source: libacars
Version: 2.2.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Phil Karn <karn@ka9q.net>
Installed-Size: 585
Depends: libacars2 (= 2.2.1-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libacars2
Build-Ids: 15aa4d85012c99b5ae42c7abce826dc9278dd099
