Package: libacars2-tools
Source: libacars
Version: 2.2.1-1
Architecture: amd64
Maintainer: Phil Karn <karn@ka9q.net>
Installed-Size: 59
Depends: libacars2 (>= 2.2.1), libc6 (>= 2.34), libzlib-dev, libxml2-dev, libjansson-dev
Section: libs
Priority: optional
Multi-Arch: same
Homepage: <insert the upstream URL, if relevant>
Description: Library for decoding ACARS messages
 <Insert long description, indented with spaces.>
