Package: libacars2-tools-dbgsym
Source: libacars
Version: 2.2.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Phil Karn <karn@ka9q.net>
Installed-Size: 76
Depends: libacars2-tools (= 2.2.1-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libacars2-tools
Build-Ids: 944a7a7c4463b79dfc84368ef32b7a3bc3bba32e 95c93cff487fe93bf8c9b470d042e9250c98685d f71590aa82b84a0628a259978ef16c339185005a
